################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Triangle/.vs/Triangle/v17
/Triangle/.vs/Triangle/FileContentIndex
/DrawPanda/.vs/DrawPanda/FileContentIndex
